<a href="https://colab.research.google.com/github/Bayu142002/Basic-Python-Programming-for-Data-Science./blob/main/ALPRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Nomor 1

In [37]:
import numpy as np
array = []
i = int(input("Elemen array: "))
for x in range(i):
  data = float(input("{} = ".format(x+1)))
  array.append(data)
  x = data
  if data > 0 :
    print('{} Saldo deposit'.format(data))
  elif data == 0:
    print('{} Saldo zero'.format(data))
  else:
    print('{} Saldo withdraw'.format(data))
print("\nRata-rata saldo = {}".format(sum(array)/i))

Elemen array: 5
1 = 24.98
24.98 Saldo deposit
2 = 345.67
345.67 Saldo deposit
3 = 0.00
0.0 Saldo zero
4 = -42.16
-42.16 Saldo withdraw
5 = 224.62
224.62 Saldo deposit

Rata-rata saldo = 110.622

#Nomor 2

In [35]:
Grademhs = [[77,68,86,73],[96,87,89,78],[70,90,86,81]]
for i in Grademhs:
  print()
  print("Grademhs\t", end = " ")
  for j in i:
    print(j, end=" ")

Grademhs	 77 68 86 73
Grademhs	 96 87 89 78
Grademhs	 70 90 86 81