<a href="https://colab.research.google.com/github/Bayu142002/Basic-Python-Programming-for-Data-Science./blob/main/Type_data_Valentino_Bayu_Adi_2015015020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Assalamualaikum")
A = 'Hallo dunia!!'
print("Assalamualaikum",A)

Assalamualaikum
Assalamualaikum Hallo dunia!!

In [7]:
#type data string
a = "hai gaes!!"
print(a)
print(type(a))

#type data integer
b = 1400
print(b)
print(type(b))

#type data float
c = 0.12323
print(c)
print(type(c))

#type data compleks number
d = 3j + 1
print(d)
print(type(d))

#type data boolean
e = True
print(e)
print(type(e))

#type data list
f = ["satu","dua","tiga"]
print(f)
print(type(f))

#type data tuple
g = ("satu","dua","tiga")
print(g)
print(type(g))

#type data set
h = {"satu","dua","tiga"}
print(h)
print(type(h))

#type data dictionary
i = {1:"satu",2:"dua",3:'tiga'}
print(i)
print(type(i))

hai gaes!!
<class 'str'>
1400
<class 'int'>
0.12323
<class 'float'>
(1+3j)
<class 'complex'>
True
<class 'bool'>
['satu', 'dua', 'tiga']
<class 'list'>
('satu', 'dua', 'tiga')
<class 'tuple'>
{'tiga', 'dua', 'satu'}
<class 'set'>
{1: 'satu', 2: 'dua', 3: 'tiga'}
<class 'dict'>