<a href="https://colab.research.google.com/github/Bayu142002/Basic-Python-Programming-for-Data-Science./blob/main/Valentino_Bayu_Adi_2015015020_Projek_%5BA%5D_dan_%5BB%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PROJEK [A]

In [ ]:
#Menentukan suatu bilangan yang diinput tersebut positif,negatif,atau nol
x = int(input("masukan bilangan x = "))
if x>0:
  print(x,"adalah bilangan positif")
elif x==0:
  print(x,"nol")
else:
  print(x,"adalah bilangan negatif")

masukan bilangan x = -10
-10 adalah bilangan negatif

In [ ]:
#Menentukan Mahal Diskon
jumlah = int(input("Masukan jumlah barang = "))
harga = int(input("Masukan harga barang = "))
total = (jumlah * harga)
print("Jumlah Total = ",total)

if total >= 150000:
  diskon = total * (40/100)
  print("Kamu dapet diskon 40%")
elif total >= 100000:
  diskon = total * (20/100)
  print("Kamu dapet diskon 20%")
elif total >= 50000:
  diskon = total * (10/100)
  print("Kamu dapet diskon 10%")
else:
  diskon = total * (0/100)
  print("Maaf kamu belum dapet diskon")

harga_diskon = total - diskon
if harga_diskon > 100000:
  print("Mahal!!")
else:
  print("Murah!!")
print("Karena harga yang harus dibayarkan = ",harga_diskon)

Masukan jumlah barang = 2
Masukan harga barang = 50000
Jumlah Total =  100000
Kamu dapet diskon 20%
Murah!!
Karena harga yang harus dibayarkan =  80000.0

### PROJEK [B]

In [6]:
import pandas as pd
import numpy as np

In [8]:
data = {"Bilangan":[1,-11,112],
        "Genap/Ganjil":["Ganjil","Ganjil","Genap"],
        "Pos/Neg/Nol":["Positif","Negatif","Positif"],
        "Satuan/Puluhan/Ratusan":["Satuan","Puluhan","Ratusan"]}
df = pd.DataFrame(data)
df

   Bilangan Genap/Ganjil Pos/Neg/Nol Satuan/Puluhan/Ratusan
0         1       Ganjil     Positif                 Satuan
1       -11       Ganjil     Negatif                Puluhan
2       112        Genap     Positif                Ratusan